@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');



.img1{
    width:100%;
    height:100%;
    position:absolute;

    animation: opacitys;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.img2{
    width:100%;
    height:100%;
    position:absolute;

    animation: opacitys;  
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



.img3 {
    width:100%;
    height:100%;
    position:absolute;
}


.img4 {
    width:230px;
    height:200px;
    position:absolute;
    left: 84%;
    top: 23%;
    transform: translate(-50%, -50%);
        animation: titleopacitys;
    animation-fill-mode: forwards;
}

.img5 {
    width:300px;
    height:270px;
    position:absolute;
    left: 84%;
    top: 55%;
    transform: translate(-50%, -50%);
        animation: titleopacitys;
    animation-fill-mode: forwards;
}



.title {font-size: 10pt;
    color: white;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    margin: 0; 
    letter-spacing: 10px;
    font-family: 'Noto Sans KR', sans-serif;

    animation: titleopacitys;
    animation-fill-mode: forwards;
}





@-webkit-keyframes opacitys {
    0% { 
        opacity: 1; 
    }

    100% {
         opacity: 0;
      }
    }


 @-webkit-keyframes titleopacitys {
    0% { 
        opacity: 0; 
    }

        50%{ 
        opacity: 0; 
    }


    100% {
         opacity: 1;
      }
    }


 